@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url("RobotoCondensed-Regular.ttf") format('truetype');
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #0087C3;
  text-decoration: none;
}

body {
  position: relative;
  width: 100%;  
  height: 500PX; 
  margin: 0 auto; 
  color: #555555;
  background: #FFFFFF; 
  font-family: Arial, sans-serif; 
  font-size: 14px; 
  font-family: SourceSansPro;
}

header {
  padding: 5px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #AAAAAA;
}

#logo {
  float: left;
  margin-top: 8px;
}

#logo img {
  height: 70px;
}

#company {
  float: center;
  text-align: center;
}


#details {
  margin-bottom: 10px;
}

#client {
  padding-left: 6px;
  border-left: 6px solid #303d51;
  float: left;
}

#client .to {
  color: #777777;
}

h2.name {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0;
}

#invoice {
  float: right;
  text-align: right;
}

#invoice h1 {
  color: #0087C3;
  font-size: 2.4em;
  line-height: 1em;
  font-weight: normal;
  margin: 0  0 10px 0;
}

#invoice .date {
  font-size: 1.1em;
  color: #777777;
}

/**/
table {
  text-align: center;
  line-height: 20px;
  border-collapse: relative;
  border-spacing: 0;
  border: 2px solid #303d51;
  width: 98%;
  margin: 20px auto;
  border-radius: .25rem;
}

thead tr:first-child {
  background: #303d51;
  color: #fff;
  border: none;
}

th:first-child,
td:first-child {
  padding: 0 10px 0 15px;
}

thead tr:last-child th {
  border-bottom: 0px solid #ddd;
}

tbody tr:last-child td {
  border: none;
}

tbody td {
  border-bottom: 1px solid #ddd;
}

td:last-child {
  text-align: right;
  padding-right: 5px;
}

.part1{
  width: 40%;
  float: left;
  padding: 15px;
}

.part2{
  width: 60%;
  float: left;
  padding-right: 100px;
}
